<div class="headline">Page administrateur</div>
<div class="profile-page">
  <h2>Participants</h2>

  <table>
    <tr class="table-head">
      <th>Prénom</th>
      <th>Nom</th>
      <th>Email</th>
      <th>Description</th>
    </tr>
    <% @participants.each do |participant| %>
      <tr>
        <td><%= participant.first_name %></td>
        <td><%= participant.last_name %></td>
        <td><%= participant.email %></td>
        <td><%= participant.description %></td>
      </tr>
    <% end %>
  </table>

  <div class="d-flex justify-content-center">
    <button class="btn btn-secondary"><%= link_to "Éditer mon évènement", edit_event_path(params[:event_id]) %></button>
  </div>
</div>
