<div class="headline">Édite ton profil</div>

<div>
  <%= form_tag user_avatars_path(@user), multipart: true do %>
    <%= label_tag 'Photo de profil' %><br>
    <%= file_field_tag :avatar, :accept => 'image/jpeg' %>
    <%= submit_tag 'Mettre à jour', class: "btn btn-primary" %>
  <% end %>
</div>

<div>
  <%= form_tag user_path(@user.id), method: "patch", class: "form-group" do %>

    <div class="form-group form-check">
      <%= label_tag 'Prénom' %>
      <%= text_field_tag 'first_name', @user.first_name, class: "form-control" %>
    </div>

    <div class="form-group form-check">
      <%= label_tag 'Nom' %>
      <%= text_field_tag 'last_name', @user.last_name, class: "form-control" %>
    </div>

    <div class="form-group form-check">
      <%= label_tag 'Description' %>
      <%= text_area_tag 'description', @user.description, rows: 3, class: "form-control" %>
    </div>

    <%= submit_tag "Modifier", class: "btn btn-primary" %>
    <button type="button" class="btn btn-secondary"><%= link_to 'Retour', :back %></button>
  <% end %>
</div>