<div class="headline">Ton profil</div>

<div style="padding: 60px;">
  <h2>Mes informations :</h2>

  <ul>
    <li>Prénom : <%= @user.first_name %></li>
    <li>Nom : <%= @user.last_name %></li>
    <li>Email : <%= @user.email %></li>
    <li>Description : <%= @user.description %></li>
  </ul>

  <%= link_to 'Modifier email ou mot de passe', edit_user_registration_path %><br>
  <%= link_to 'Modifier mes informations', edit_user_path(@user.id) %>

  <hr>
  <h2>Mes évènements :</h2>
  <% @user.events.each do |event| %>
    <div class="event-element">
      <%= event.title %>
      <%= link_to 'Voir', event_path(event.id) %>
    </div>
  <% end %>
</div>

