<div class="headline">Crée un évènement</div>

<div>
  <%= form_tag events_path, method: "post", multipart: true, class: "form-group" do %>

    <div class="form-group form-check">
      <%= label_tag 'Titre' %>
      <%= text_field_tag 'title', nil, class: "form-control" %>
    </div>

    <div class="form-group form-check">
      <%= label_tag 'Adresse' %>
      <%= text_field_tag 'location', nil, class: "form-control" %>
    </div>

    <div class="form-group form-check">
      <%= label_tag 'Date et Heure' %>
      <div class="date-input">
        <%= datetime_field_tag 'start_date', nil, class: "form-control form-date" %>
      </div>
    </div>

    <div class="form-group form-check">
      <%= label_tag 'Durée (en minutes)' %>
      <%= text_field_tag 'duration', nil, class: "form-control" %>
    </div>

    <div class="form-group form-check">
      <%= label_tag 'Description' %>
      <%= text_area_tag 'description', nil, rows: 3, class: "form-control" %>
    </div>

    <div class="form-group form-check">
      <%= label_tag 'Prix (en €)' %>
      <%= text_field_tag 'price', nil, class: "form-control" %>
    </div>

    <div class="form-group form-check">
      <%= label_tag 'Photo de couverture' %>
      <%= file_field_tag :cover, :accept => 'image/jpeg' %>
    </div>

    <%= submit_tag "Publier", class: "btn btn-primary" %>
    <button type="button" class="btn btn-secondary"><%= link_to 'Retour', :back %></button>
    
  <% end %>
</div>
