<!DOCTYPE html>
<html>
  <head>
    <title>BdxEvent</title>
    <%= favicon_link_tag asset_path('https://cdn.evbstatic.com/s3-build/perm_001/8a4e23/django/images/favicons/favicon-32x32.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
        <%= link_to 'BdxEvent', root_path, class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="header-right">
          <button class="header-element"><%= link_to 'Créer un évènement', new_event_path, class: "nav-item nav-link" %></button>
          <% if user_signed_in? %>
            <button class="header-element">
              <% if current_user.avatar.attached? %>
                <%= image_tag current_user.avatar, alt: 'Photo de profil' %>
              <% end %>
              <%= link_to 'Bonjour ' + current_user.first_name.to_s, user_path(current_user.id), class: "nav-item nav-link" %>
            </button>
            <button class="header-element"><%= link_to 'Se déconnecter', destroy_user_session_path, method: :delete, class: "nav-item nav-link" %></button>
          <% else %>
            <button class="header-element"><%= link_to 'Se connecter', new_user_session_path, class: "nav-item nav-link" %></button>
            <button class="header-element"><%= link_to "S'inscrire", new_user_registration_path, class: "nav-item nav-link" %></button>
          <% end %>
        </div>
        
      </nav>
    </header>
    <div class="blank-space"></div>
    <div class="navbar-img"></div>

    <% if notice != nil || alert != nil %>
      <div class="flash"><%= notice %><%= alert %></div>      
    <% end %>

    <%= yield %>

    <footer>
      <div class="footer-logo">Bdx Event Project</div>
    </footer>
  </body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
